<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.lee.mycat.mapper.StudentMapper" >
  <resultMap id="BaseResultMap" type="com.aaa.lee.mycat.model.Student" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="student_name" property="studentName" jdbcType="VARCHAR" />
    <result column="student_age" property="studentAge" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from student
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.aaa.lee.mycat.model.Student" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into student (id, student_name, student_age)
    values (#{id, jdbcType=BIGINT}, #{studentName,jdbcType=VARCHAR}, #{studentAge,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.aaa.lee.mycat.model.Student" >
    update student
    set student_name = #{studentName,jdbcType=VARCHAR},
      student_age = #{studentAge,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, student_name, student_age
    from student
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, student_name, student_age
    from student
  </select>
</mapper>